
:root
{
    --palette-background: #14171a;
    --palette-section: #1E2328;
    --palette-text: #D3D5D6;
    --palette-primary: #005b94;
}

.btn-primary, .HomeImage
{
    background-color: var(--palette-primary);
    border-color: var(--palette-primary) !important;
}

.HomeButton
{
    margin: 1rem;
}

#ButtonAbout
{
    margin-left: 2rem;
}

.TitleText
{
    text-align: center;
    /* background-color: aqua; */
}

body
{
    background-color: var(--palette-background);
    color: var(--palette-text);
}

.SectionHeader
{
    padding: 0.5rem;
    background-color: var(--palette-primary);
    color: white;
}

.SectionBody
{
    background-color:var(--palette-section);
    font-size:medium;
    padding: 1rem;
}


